.navbar-nav{
    font-size: 20px;
   }
   i{
       font-size: 30px;
       margin: 6px;
   }
   li{
       list-style: none; 
       display: inline;
   }
   footer{
    background-color: rgb(53, 71, 68);
 
 }
 


h2{
    font-family: unset;
}
h1{
    font-family: monospace;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}