.navbar-nav{
 font-size: 20px;
}
i{
    font-size: 30px;
    margin: 6px;
}
li{
    list-style: none; 
    display: inline;
}
.card-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
   background: linear-gradient(to  top, #be0abe , #07688f);
}

